.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF; /* blue color */
  color: white;
  text-decoration: none; /* underline hata dega */
  border-radius: 5px; /* thoda gol corner */
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px

}

.btn:hover {
  background-color: #0056b3; /* hover pe dark blue */
}